body {
	background-color: gray;
	color: #fefefe;
	font-family: 'Oxygen', sans-serif;
	font-weight: normal;
}
/*Header*/
.navbar-brand h1 {
	font-family: 'Lora', serif;
	font-size: 1.8em;
	color: #fefefe;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: .75;
	margin-top: 0;
	margin-bottom: 0;
}
.navbar-brand{
	padding-top: auto;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar {
	border: 0;
	border-radius: 0;
	background-color: #20457C;
	border-bottom: 1px solid #fefefe;
}
.navbar-toggle span{
	border: 1px solid #fefefe;
}
#navlist {
	margin-top: 0;
	margin-bottom: 0;
}
#navlist a {
	color: #fefefe;
	text-align: center;
	font-size: 1.3em;
}
#navlist a:hover, .navbar-brand a:focus {
	background-color: #000033;
}
#navlist hr {
	margin: 0;
}
/*End Header*/
/*Main Content*/
.about-food {
	background-color: #20457C;
	padding: 0 20px;
	margin-top: 30px;
	font-size: 1.3em;
	min-height: 700px;
}
#main-content h3 {
	text-align: center;
}
.about-food a, .about-food a:visited{
	color: rgb(250, 170, 0);
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
}
.about-food a:hover, .navbar-brand {
	color: rgb(250, 280, 0);
}
/* End Main Content */
/* Footer */
.panel-footer {
	border: none;
	background-color: #000033;
	font-family: 'Lora', serif;
	line-height: 2;
	margin-top: 40px;
}
.panel-footer span {
	font-size: 1.7em;
}
#testimonials {
	font-family: cursive;
	
}
#address p{
	color: #1B945B;
	font-size: .9em;
}
.panel-footer div.text-center{
	font-size: 1.2em;
}
/*End Footer*/
@media (max-width: 767px) {
	/*Main Content*/
	#main-content{
		width: 98%;
	}
	/*End Content*/
}
@media (min-width: 768px){
	#testimonials {
		font-size: 1.3em;
	}
}